<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
  xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation = "http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  <bean id="emp" class="Springexamples.Employee">
  <property name="ename" value="vanyaa"/>
   <property name="empid" value="4565"/>
    <property name="desg" value="Employee"/>
    <property name="dept" value="development"/>
     <property name="email" value="vanya@gmail.com"/>
  
  </bean>
  </beans>